<!doctype html>
<html lang="pl">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="bg-light">
<%- include ("../partials/header") %>
<main>
    <div class="container my-4">
        <div class="row">
            <div class="col-12 accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h4 class="mb-0">
                            <a class="btn-block" type="button" data-toggle="collapse" data-target="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                Dostępne wizyty
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">Specjalizacja</th>
                                        <th scope="col">Lekarz</th>
                                        <th scope="col">Przychodnia</th>
                                        <th scope="col">Typ</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% activeVisit && activeVisit.forEach(function(visit) { %>
                                    <tr>
                                        <td><%= visit.date %></td>
                                        <td><%= visit.specialization %></td>
                                        <td><a href="/doctor/id/<%= visit.doctor.id %>"><%= visit.doctor.name %></a></td>
                                        <td><a href="/clinic/id/<%= visit.clinic && visit.clinic.id %>"><%= visit.clinic && visit.clinic.name %></a></td>
                                        <td><%= visit.type %></td>
                                        <td>
                                            <a href="/visit/reservation/<%= visit.id %>" type="button" class="btn btn-success">Zarezerwuj wizytę</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h4 class="mb-0">
                            <a class="btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo"
                               aria-expanded="true" aria-controls="collapseTwo">
                                Historia wizyt
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">Specjalizacja</th>
                                        <th scope="col">Lekarz</th>
                                        <th scope="col">Przychodnia</th>
                                        <th scope="col">Typ</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% historyVisit && historyVisit.forEach(function(visit) { %>
                                    <tr>
                                        <td><%= visit.date %></td>
                                        <td><%= visit.specialization %></td>
                                        <td><a href="/doctor/id/<%= visit.doctor.id %>"><%= visit.doctor.name %></a></td>
                                        <td><a href="/clinic/id/<%= visit.clinic && visit.clinic.id %>"><%= visit.clinic && visit.clinic.name %></a></td>
                                        <td><%= visit.type %></td>
                                        <td>
                                            <a href="/visit/history/<%= visit.id %>" type="button" class="btn btn-primary">Podgląd</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ("../partials/scripts") %>
</body>
</html>