<!doctype html>
<html lang="pl">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="bg-light">
<%- include ("../partials/header") %>
<main>
    <div class="container my-4">
        <form method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="id" value="<%= clinic.id %>">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="clinicName">Nazwa</label>
                    <input type="text" class="form-control" id="clinicName" name="clinicName" value="<%= clinic.name %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="location">Lokalizacja</label>
                    <input type="text" class="form-control" id="location" name="location" value="<%= clinic.location %>" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phone">Telefon</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="<%= clinic.phone %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="nip">NIP</label>
                    <input type="text" class="form-control" id="nip" name="nip" value="<%= clinic.nip %>" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <%- include('../partials/tableOfDoctors', {doctors}); %>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Edytuj</button>
            </div>
        </form>
    </div>
</main>

<%- include ("../partials/scripts") %>

<script>
    const doctors = <%- JSON.stringify(clinic.doctors) %>;
    const getDr = document.querySelectorAll("[name='doctors']");
    doctors.forEach(doctor => getDr.forEach(dr => {
        if(doctor.id === dr.id) {
            dr.checked = true;
        }
    }));
</script>

</body>
</html>