<!doctype html>
<html lang="pl">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="bg-light">
<%- include ("../partials/header") %>
<main>
    <div class="container my-4">
        <form method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="id" value="<%= visit.visitId %>">
            <input type="hidden" name="clientID" value="<%= visit.clientId %>">
            <input type="hidden" name="employeeID" value="<%= visit.employeeId %>">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="date">Data</label>
                    <input type="date" class="form-control" id="date" name="date" value="<%= visit.date %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="type">Rodzaj wizyty</label>
                    <select class="form-control" id="type" name="type" required>
                        <option value="" disabled selected>Wybierz rodzaj wizyty</option>
                        <option value="overview">Przegląd</option>
                        <option value="diagnostics">Diagnostyka</option>
                        <option value="repair">Naprawa</option>
                        <option value="service">Serwis</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status" required>
                        <option value="" disabled selected>Wybierz status</option>
                        <option value="open">Niezrealizowana</option>
                        <option value="close">Zrealizowana</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="description">Opis</label>
                    <textarea class="form-control" id="description" name="description" rows="1"><%= visit.description %></textarea>
                </div>
                <div class="form-group col-md-4">
                    <label for="cost">Koszt</label>
                    <input type="number" class="form-control" id="price" name="price" value="<%= visit.price %>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <h5>Pracownik</h5>
                    <div class="form-group">
                        <label for="employeeName">Imię i nazwisko</label>
                        <input type="text" class="form-control" id="employeeName" name="employeeName" value="<%= visit.employeeName %>" readonly>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <h5>Klient</h5>
                    <div class="form-group">
                        <label for="clientName">Imię i nazwisko</label>
                        <input type="text" class="form-control" id="clientName" name="clientName" value="<%= visit.clientName %>" readonly>
                    </div>
                </div>
            </div>
            <h5>Dane samochodu</h5>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="manufacturer">Producent</label>
                    <input type="text" class="form-control" id="manufacturer" name="manufacturer" value="<%= visit.car.manufacturer %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model" value="<%= visit.car.model %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="year">Rok produkcji</label>
                    <input type="number" class="form-control" id="year" name="year" value="<%= visit.car.year %>" required>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Edytuj</button>
            </div>
        </form>
    </div>
</main>

<%- include ("../partials/scripts") %>

<script>
    const status = document.getElementById("status");
    const type = document.getElementById("type");
    const visit = <%- JSON.stringify(visit) %>;

    status.value = visit.status;
    type.value = visit.type;

</script>

</body>
</html>