<!doctype html>
<html lang="pl">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="bg-light">
<%- include ("../partials/header") %>
<main>
    <div class="container my-4">
        <form method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="date">Data</label>
                    <input type="date" class="form-control" id="date" name="date" value="<%= new Date().toISOString().substr(0, 10); %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="type">Rodzaj wizyty</label>
                    <select class="form-control" id="type" name="type" required>
                        <option value="overview">Przegląd</option>
                        <option value="diagnostics">Diagnostyka</option>
                        <option value="repair">Naprawa</option>
                        <option value="service">Serwis</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="cost">Koszt</label>
                    <input type="number" class="form-control" id="cost" name="cost">
                </div>
            </div>
            <h4>Dane samochodu</h4>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="manufacturer">Producent</label>
                    <input type="text" class="form-control" id="manufacturer" name="manufacturer" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="year">Rok produkcji</label>
                    <input type="number" class="form-control" id="year" name="year" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>Pracownicy:</label>
                    <% employees && employees.forEach(function(employee) { %>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="<%= employee.id %>" name="employees" value='{"id":"<%= employee.id %>", "name": "<%= employee.firstname %> <%= employee.lastname %>"}'>
                            <label class="custom-control-label" for="<%= employee.id  %>"><%= employee.firstname %> <%= employee.lastname %></label>
                        </div>
                    <% }); %>
                </div>
                <div class="form-group col-sm-6">
                    <div class="form-group">
                        <label>Klient:</label>
                        <select class="form-control" id="client" name="clientId" required>
                            <option value="" disabled selected>Wybierz klienta</option>
                            <% clients && clients.forEach(function(client) { %>
                                <option value="<%= client.id %>"><%= client.firstname %> <%= client.lastname %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="clientName">Imię i nazwisko</label>
                        <input type="text" class="form-control" id="clientName" name="clientName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefon</label>
                        <input type="text" class="form-control" id="phone" name="phone" readonly>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="description">Opis</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Utwórz</button>
            </div>
        </form>
    </div>
</main>

<%- include ("../partials/scripts") %>

<script>
    const client = document.getElementById("client");
    const clientName = document.getElementById("clientName");
    const clientEmail = document.getElementById("email");
    const clientPhone = document.getElementById("phone");
    const clients = <%- JSON.stringify(clients) %>;

    client.addEventListener("change", (ev) => {
        const result = clients.filter(item => item.id === ev.target.value);
        clientName.value = `${result[0].firstname} ${result[0].lastname}`;
        clientEmail.value = result[0].email;
        clientPhone.value = result[0].phone;
    },false)
</script>

</body>
</html>